/* PC */
@media (min-width: 64em) {}

/* tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {}

/* tablet & mobile */
@media (max-width: 63.9375em) {
    .header-menu {
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        font-weight: 700;
        height: 0;
        padding: 0;
        background-color: rgba(255, 255, 255, 0.8);
        overflow: hidden;
        display: block;
    }

    .header-menu__item+.header-menu__item {
        margin-top: 16px;
        margin-left: 0;
    }

    .header-menu__item__link {
        display: block;
        width: 100%;
        padding: 12px;
        text-align: center;
        color: #000;
    }

    .header-icon {
        display: block;
    }

    .form {
        height: calc(100vh - 209px);
    }

    .pd-form {
        padding: 0 52px 24px;
    }

    .url {
        width: calc(100% - 110px);
    }

    .option-form {
        flex-wrap: wrap;
    }

    .footer-license {
        padding: 20px 0;
    }
}

/* mobile */
@media (max-width: 46.1875em) {
    .header {
        margin: 0 16px;
    }

    .form {
        height: calc(100vh - 100px);
    }

    .pd-form {
        padding: 0 20px 24px;
    }

    .form-group {
        min-width: 288px;
    }

    .url {
        padding: 15px 16px;
    }

    .form-submit {
        padding: 18px 25px;
    }

    .form-options {
        padding-bottom: 0;
    }

    .footer {
        margin-top: 180px;
    }

    .footer-license {
        margin: 0 16px;
    }
}