* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3b208d;
    --secondary-color: #ed9a9e;
}

html {
    font-size: 62.5%;
}

body {
    background: #f9f9fb;
}

body,
input,
textarea,
button {
    font-size: 1.6rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

main {
    margin: 48px 0;
}

/* Container */
.container {
    display: flex;
    width: 870px;
    margin: 60px auto 0;
    padding: 6px;
    border-radius: 10px;
    background: #fff;
}

/* Heading */
.heading {
    text-align: center;
}

.heading h1 {
    color: #050545;
    font-weight: 900;
    font-size: 3.2rem;
}

.heading p {
    margin-top: 16px;
    color: #8d8d9f;
}

/* Contact info */
.contact-info {
    position: relative;
    flex-shrink: 0;
    width: 330px;
    padding: 24px 30px 30px;
    border-radius: 10px;
    color: #fff;
    background: var(--primary-color);
    overflow: hidden;
}

.contact-info h2 {
    font-weight: 600;
    font-size: 2.2rem;
}

.contact-info .desc {
    margin-top: 10px;
    font-size: 1.3rem;
    line-height: 1.6;
    color: #9e8dd3;
}

.contact-info .info-item {
    margin-top: 36px;
}

.contact-info .info-item .icon {
    display: inline-block;
    width: 18px;
    text-align: center;
    color: var(--secondary-color);
}

.contact-info .info-item .value {
    margin-left: 8px;
    font-size: 1.3rem;
    color: #e0cff3;
}

.socials {
    display: flex;
    column-gap: 10px;
    margin-top: 110px;
}

.socials .item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

.socials .item:hover {
    background: var(--secondary-color);
}

.circle {
    position: absolute;
    right: 55px;
    bottom: 60px;
    z-index: 1;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #7955f3;
    opacity: 0.95;
}

.circle.large {
    right: -110px;
    bottom: -110px;
    z-index: 0;
    width: 250px;
    height: 250px;
    opacity: 1;
    background: var(--secondary-color);
}

.form {
    padding: 28px 32px;
    flex: 1;
}

.form:has(:invalid) .submit-btn {
    opacity: 0.5;
    pointer-events: none;
}

.form-group {
    flex: 1;
}

.form-group:focus-within .form-group__label:not(.large) {
    color: #5f42b6;
}

.form-group:focus-within .form-group__input {
    border-color: #5f42b6;
}

.form-row {
    display: flex;
    gap: 32px;
    margin-bottom: 12px;
}

.form-row:last-child {
    margin-bottom: 0;
}

.form-group__label,
.form-group__input {
    display: block;
}

.form-group__label {
    font-size: 1.1rem;
    font-weight: 700;
    color: #131434;
}

.form-group__input,
.form-textarea {
    padding: 8px 0 14px 0;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid #e3e3e9;
    color: #0d0d3b;
}

.form-group__input::placeholder,
.form-textarea::placeholder {
    color: #bebfc9;
}

.form-group:has(:invalid:not(:placeholder-shown)) .form-error {
    visibility: visible;
}

.form-error {
    visibility: hidden;
    margin-top: 4px;
    font-size: 1.3rem;
    color: red;
}

.form-group__label.large {
    font-size: 1.3rem;
}

.radio-group {
    display: flex;
    margin-top: 16px;
}

.radio-btn {
    display: inline-block;
}

.radio-btn + .radio-btn {
    margin-left: 20px;
}

.radio-btn label {
    position: relative;
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 1.4rem;
    color: #474669;
    cursor: pointer;
}

.radio-btn label::before,
.radio-btn label::after {
    content: "";
    display: inline-block;
}

.radio-btn label::before {
    margin-right: 8px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #a7a7b6;
}

.radio-btn [type="radio"] {
    display: none;
}

.radio-btn [type="radio"]:checked + label::before {
    background: #5b32dc;
    border-color: #5b32dc;
}

.radio-btn [type="radio"]:checked + label::after {
    position: absolute;
    top: 5px;
    left: 2px;
    width: 9px;
    height: 5px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    rotate: -45deg;
}

.form-textarea {
    resize: none;
    max-height: 200px;
}

.submit-btn {
    min-width: 160px;
    height: 50px;
    color: #fff;
    background: var(--primary-color);
    outline: none;
    border: none;
    border-radius: 8px;
    font-size: 1.3rem;
    font-weight: 600;
}

.submit-btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.submit-box {
    justify-content: center;
}
