:root {
    --primary-color: #31c27c;
    --text-color: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.player {
    position: relative;
    display: flex;
    margin: calc((100vh - 480px) / 2);
    align-items: center;
    justify-content: center;
}

.player .icon-pause {
    display: none;
}

.player.playing .icon-pause {
    display: inline-block;
}

.player.playing .icon-play {
    display: none;
}

.dashboard {
    padding: 16px 16px 14px;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
    top: 0;
    width: 100%;
    max-width: 480px;
    border-bottom: 1px solid #ebebeb;
}

/* HEADER */
header {
    text-align: center;
    margin-bottom: 10px;
}

header h4 {
    color: var(--primary-color);
    font-size: 12px;
}

header h2 {
    color: var(--text-color);
    font-size: 20px;
}

/* CD */
.cd {
    display: flex;
    margin: auto;
    width: 200px;
}

.cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
}

/* CONTROL */
.control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0 8px 0;
}

.control .btn,
.btn-volume {
    color: #666;
    padding: 18px;
    font-size: 16px;
    cursor: pointer;
}

.btn-volume {
    padding: 10px;
}

.btn-mute {
    font-size: 18px;
}

.seek-volume {
    display: flex;
    align-items: center;
    justify-content: start;
}

.seek-volume.active .btn-up {
    display: none;
}

.seek-volume.active .btn-mute {
    display: block;
}

.btn-mute {
    display: none;
}

.btn.active {
    color: var(--primary-color);
}

.control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}


.progress {
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
}

.volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
}

/* PLAYLIST */
.playlist {
    padding: 12px;
    min-width: 388px;
    max-height: 480px;
    overflow: auto;
}

/* width */
.playlist::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.playlist::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.playlist::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

/* Handle on hover */
.playlist::-webkit-scrollbar-thumb:hover {
    background: #1a6c44;
}

.song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.song.active {
    background-color: var(--primary-color);
}

.song:active {
    opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
    color: #fff;
}

.song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
}

.song .body {
    flex: 1;
    padding: 0 16px;
}

.song .title {
    font-size: 18px;
    color: var(--text-color);
}

.song .author {
    font-size: 12px;
    color: #999;
}

.song .option {
    padding: 16px 8px;
    color: #999;
    font-size: 18px;
}

@supports (background-clip: text) or (-webkit-background-clip: text) {
    .highlight {
        color: transparent;
        -webkit-background-clip: text;
        background-color: #FFDEE9;
        background-image: linear-gradient(242deg, #FFDEE9 0%, #B5FFFC 100%);
    }
}